body{
	background-color: darkblue;

}
header{
	background-color: aliceblue;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	height: auto;
	border: solid  darkblue; 1px;
	border-radius: 2px;
}


nav{
  background: skyblue;
  border: solid  darkblue; 1px;
  border-radius: 2px;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}
nav ul li {
	margin: 30px;
}

nav ul li a{
	display: block;
	padding: 20px;
	text-decoration: none;
	color: white;
	border: solid  darkblue; 1px;
	border-radius: 20px;
}
header img{
	height: 200px;
	width: 60%;
}
main{
	color: white;
	font-size: 40px;
}
footer{
	margin-bottom: 0;
	background-color: white;
	font-size: 20px;
}
img{

	width: 100%;
	height: auto;
	border: solid;
	border-radius: 1px;
}
	.grid{
		display: grid;
		grid-template-columns:auto auto auto;
		gap: 20px;
		justify-content: center;
	}
.img{
	width: 900px;
	height: 900px;
	max-width: 600x;
	object-fit: cover;
	border-radius: 10px;
	transition: transform 0.3;
    margin-left: 1px;
    margin-right: 2px;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color:  #333;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    margin-top: 100px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }